/* colors can be found from style_defines.cpp */

* {
/*    font-family: 'Helvetica';*/
/*    font-size: 14px;*/
    background-color: rgb(46, 46, 46); /*    gray    */
    color: rgb(255, 246, 246);         /* warm white */
}

/*QHeaderView::section {
    background-color: #2c2f33;
    color: white;
    font-weight: bold;
    padding: 5px;
}

QTableView {
    background-color: #1e1e1e;
    color: #dddddd;
    gridline-color: #333;
    selection-background-color: #444;
}*/
