/* colors can be found from style_defines.cpp */

* {
/*    font-family: 'Helvetica';*/
/*    font-size: 14px;*/
    background-color: #2e2e2e;
    color: #f4f4f4;
}

/*QHeaderView::section {
    background-color: #2c2f33;
    color: white;
    font-weight: bold;
    padding: 5px;
}

QTableView {
    background-color: #1e1e1e;
    color: #dddddd;
    gridline-color: #333;
    selection-background-color: #444;
}*/
